*.aux
*.toc
*.snm
*.log
*.nav
*.out
*.vrb
*.synctex.gz
intro.pdf
1.1-p1.pdf
1.1-p2.pdf
1.1-p3.pdf
1.2-p1.pdf
1.2-p2.pdf
1.3.pdf
1.4-p1.pdf
1.4-p2.pdf
2.1.1.pdf
2.1.2.pdf
2.2.1.pdf
2.2.2.pdf
2.2.3.pdf
